<div class="breadcrumbs bg-info">
            <div class="col-sm-4">
                <div class="page-header float-left bg-info text-white">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right bg-info">
                    <div class="page-title">
                        <ol class="breadcrumb text-right bg-info text-white">
                            <li class="active">{{viewTitle}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>